<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <!-- Link to CSS -->
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
    <h1>Admin Panel</h1>
    <nav>
        <a href="/admin/products">Products</a> |
        <a href="/admin/category">Category</a> |
        <a href="/home">HOME</a>
    </nav>
    <main>
        <%- body %> <!-- Corrected Syntax -->
    </main>
</body>
</html>

