<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto my-2">
            <button class="btn btn-dark  px-3 py-2">VIEW ALL</button>
        </div>
        <div class="col-auto my-2">
            <button class="btn btn-dark  px-3 py-2">SANDALS</button>
        </div>
        <div class="col-auto my-2">
            <button class="btn btn-dark  px-3 py-2">SLIPPERS</button>
        </div>
        <div class="col-auto my-2">
            <button class="btn btn-dark  px-3 py-2">SHOES</button>
        </div>
        <div class="col-auto my-2">
            <button class="btn btn-dark  px-3 py-2">COMFORT</button>
        </div>
    </div>
</div>



<!-- Header -->
<div class="container-fluid px-4 py-2 mt-4 mb-3">
<!-- Center the text -->
<div class="row align-items-center justify-content-center">

    <div class="col-auto h5 mx-auto">WOMEN SHOES VIEW ALL</div>


    <!-- Right-align the SVG and FILTER link -->
    <div class="col-auto">
        <svg width="20" height="13" viewBox="0 0 20 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.35 0.35H8.65V12.65H0.35V0.35ZM11.35 0.35H19.65V12.65H11.35V0.35Z" stroke="#1A1A1A"
                stroke-width="0.7"></path>
        </svg>
        <a href="" class="ms-2">FILTER</a>
    </div>
</div>
</div>



<div class="container-fluid">
<div class="row">
    <div class="col-6 col-md-4 col-lg-3 ">

        <img src="/assets/L34119.jpg" class="img-fluid" alt="Shoe 1">

        <p>AMITY - 138605</p>
        <p>PKR 8,499</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 ">

        <img src="/assets/L34618.jpg" class="img-fluid" alt="Shoe 2">

        <p>AMITY - 138604</p>
        <p>PKR 8,499</p>


    </div>
    <div class="col-6 col-md-4 col-lg-3 ">
        <img src="/assets/L35496.jpg" class="img-fluid" alt="Shoe 3">
        <p>AMITY - 138603</p>
        <p>PKR 8,499</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 ">
        <img src="/assets/L35525.jpg" class="img-fluid" alt="Shoe 4">
        <p>ACACIA - 138659</p>
        <p>PKR 8,499</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 ">
        <img src="/assets/L35861.jpg" class="img-fluid" alt="Shoe 5">
        <p>ACACIA - 138658</p>
        <p>PKR 8,499</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 ">
        <img src="/assets/L36127.jpg" class="img-fluid" alt="Shoe 1">
        <p>AMITY - 138605</p>
        <p>PKR 8,499</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 ">
        <img src="/assets/L36164.jpg" class="img-fluid" alt="Shoe 2">
        <p>AMITY - 138604</p>
        <p>PKR 8,499</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 ">
        <img src="/assets/L36169.jpg" class="img-fluid" alt="Shoe 3">
        <p>AMITY - 138603</p>
        <p>PKR 8,499</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 ">
        <img src="/assets/L36198.jpg" class="img-fluid" alt="Shoe 4">
        <p>ACACIA - 138659</p>
        <p>PKR 8,499</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 ">
        <img src="/assets/L36212.jpg" class="img-fluid" alt="Shoe 5">
        <p>ACACIA - 138658</p>
        <p>PKR 8,499</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 ">
        <img src="/assets/L36216.jpg" class="img-fluid" alt="Shoe 1">
        <p>AMITY - 138605</p>
        <p>PKR 8,499</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 ">
        <img src="/assets/L36226.jpg" class="img-fluid" alt="Shoe 2">
        <p>AMITY - 138604</p>
        <p>PKR 8,499</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 ">
        <img src="/assets/L36245.jpg" class="img-fluid" alt="Shoe 3">
        <p>AMITY - 138603</p>
        <p>PKR 8,499</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 ">
        <img src="/assets/L36844.jpg" class="img-fluid" alt="Shoe 4">
        <p>ACACIA - 138659</p>
        <p>PKR 8,499</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 ">
        <img src="/assets/L36922.jpg" class="img-fluid" alt="Shoe 5">
        <p>ACACIA - 138658</p>
        <p>PKR 8,499</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 ">
        <img src="/assets/L36936.jpg" class="img-fluid" alt="Shoe 1">
        <p>AMITY - 138605</p>
        <p>PKR 8,499</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 ">
        <img src="/assets/L36945.jpg" class="img-fluid" alt="Shoe 2">
        <p>AMITY - 138604</p>
        <p>PKR 8,499</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 ">
        <img src="/assets/L36964.jpg" class="img-fluid" alt="Shoe 3">
        <p>AMITY - 138603</p>
        <p>PKR 8,499</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 ">
        <img src="/assets/L36969.jpg" class="img-fluid" alt="Shoe 4">
        <p>ACACIA - 138659</p>
        <p>PKR 8,499</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 ">
        <img src="/assets/L36973.jpg" class="img-fluid" alt="Shoe 5">
        <p>ACACIA - 138658</p>
        <p>PKR 8,499</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 ">
        <img src="/assets/L36977.jpg" class="img-fluid" alt="Shoe 1">
        <p>AMITY - 138605</p>
        <p>PKR 8,499</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 ">
        <img src="/assets/L36981.jpg" class="img-fluid" alt="Shoe 2">
        <p>AMITY - 138604</p>
        <p>PKR 8,499</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 ">
        <img src="/assets/L36997.jpg" class="img-fluid" alt="Shoe 3">
        <p>AMITY - 138603</p>
        <p>PKR 8,499</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 ">
        <img src="/assets/L37000.jpg" class="img-fluid" alt="Shoe 4">
        <p>ACACIA - 138659</p>
        <p>PKR 8,499</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 ">
        <img src="/assets/L37005.jpg" class="img-fluid" alt="Shoe 5">
        <p>ACACIA - 138658</p>
        <p>PKR 8,499</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 ">
        <img src="/assets/L37008.jpg" class="img-fluid" alt="Shoe 1">
        <p>AMITY - 138605</p>
        <p>PKR 8,499</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 ">
        <img src="/assets/L37016.jpg" class="img-fluid" alt="Shoe 2">
        <p>AMITY - 138604</p>
        <p>PKR 8,499</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 ">
        <img src="/assets/L37438.jpg" class="img-fluid" alt="Shoe 3">
        <p>AMITY - 138603</p>
        <p>PKR 8,499</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 ">
        <img src="/assets/L37446.jpg" class="img-fluid" alt="Shoe 4">
        <p>ACACIA - 138659</p>
        <p>PKR 8,499</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 ">
        <img src="/assets/L37453.jpg" class="img-fluid" alt="Shoe 5">
        <p>ACACIA - 138658</p>
        <p>PKR 8,499</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 ">
        <img src="/assets/L37461.jpg" class="img-fluid" alt="Shoe 1">
        <p>AMITY - 138605</p>
        <p>PKR 8,499</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 ">
        <img src="/assets/L37482.jpg" class="img-fluid" alt="Shoe 2">
        <p>AMITY - 138604</p>
        <p>PKR 8,499</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 ">
        <img src="/assets/L37497.jpg" class="img-fluid" alt="Shoe 3">
        <p>AMITY - 138603</p>
        <p>PKR 8,499</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 ">
        <img src="/assets/L37749.jpg" class="img-fluid" alt="Shoe 4">
        <p>ACACIA - 138659</p>
        <p>PKR 8,499</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 ">
        <img src="/assets/L37757.jpg" class="img-fluid" alt="Shoe 5">
        <p>ACACIA - 138658</p>
        <p>PKR 8,499</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 ">
        <img src="/assets/L37954.jpg" class="img-fluid" alt="Shoe 1">
        <p>AMITY - 138605</p>
        <p>PKR 8,499</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 ">
        <img src="/assets/L38101.jpg" class="img-fluid" alt="Shoe 2">
        <p>AMITY - 138604</p>
        <p>PKR 8,499</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 ">
        <img src="/assets/L38365.jpg" class="img-fluid" alt="Shoe 3">
        <p>AMITY - 138603</p>
        <p>PKR 8,499</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 ">
        <img src="/assets/L38373.jpg" class="img-fluid" alt="Shoe 4">
        <p>ACACIA - 138659</p>
        <p>PKR 8,499</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 ">
        <img src="/assets/L38408.jpg" class="img-fluid" alt="Shoe 5">
        <p>ACACIA - 138658</p>
        <p>PKR 8,499</p>
    </div>
</div>
</div>
<div class="container my-5">
<div class=" text-center">
    <h2 class="fs-4 mb-3">GET THE LATEST TRENDS FIRST</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form class="newsletter-form d-flex">
                <input type="email" class="form-control me-2" placeholder="Email address" required>
                <button type="submit">
                    <i class="fas fa-arrow-right"></i>
                </button>
            </form>
        </div>
    </div>
    <div class="social-icons mt-4">
        <a href="#" class="social-icon mx-2">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="social-icon mx-2">
            <i class="fab fa-youtube"></i>
        </a>
        <a href="#" class="social-icon mx-2">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="#" class="social-icon mx-2">
            <i class="fab fa-tiktok"></i>
        </a>
    </div>
</div>
</div>