<h1>Your Wishlist</h1>
<% if (wishlist.length > 0) { %>
    <% wishlist.forEach(item => { %>
        <div>
            <h3><%= item.productId.name %></h3>
            <p>Price: $<%= item.productId.price %></p>
        </div>
    <% }); %>
<% } else { %>
    <p>Your wishlist is empty.</p>
<% } %>
